# 1. Manipulate using a list.

i) To add new elements to the end of the list

ii) To reverse elements in the list

iii) To display the same list of elements multiple times.

iv) To concatenate two list

v) To sort the elements in the list in ascending order.

In [11]:
#To add new elements to the end of the list

myList = [1, 2, 3]
myList.append(4)
print("Added elements in {}".format(myList))

Added elements in [1, 2, 3, 4]

In [7]:
#To reverse elements in the list

myList = [1,2,3,4,5,6]
myList.reverse()
print("Reversed list is : ", myList)

Reversed list is :  [6, 5, 4, 3, 2, 1]

In [10]:
#Todisplay the same list of elements multiple times

myList = [1,2,3]
repeat = 3

newList = myList * repeat
print(newList)

for i in range(repeat):
    print(myList)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [13]:
#To concatenate two list

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print("Added list: ", list1)

Added list:  [1, 2, 3, 4, 5, 6]

In [14]:
#To sort the elements in the list in ascending order.

my_list = [390, 100, 4, 1, 5, 92, 26, 69, 51, 3, 90]
my_list.sort()
print("Sorted list:", my_list)

Sorted list: [1, 3, 4, 5, 26, 51, 69, 90, 92, 100, 390]

# 2. Write a Python program to do in the tuples.

i) Manipulate using tuples.

ii) To add new elements to the end of the tuples

iii) To reverse elements in the list

iv) To display the elements of the same tuple multiple times.

v) To concatenate two tuples

vi) To sort the elements in the list in ascending order.

In [ ]:
#i) Manipulate using tuples.

#Tuples are similar to lists in Python but are immutable, meaning we cannot modify their elements once they are created.

In [15]:
#ii) To add new elements to the end of the tuples

my_tuple = (1, 2, 3)
new_elements = (4, 5, 6)
extended_tuple = my_tuple + new_elements

print("Original Tuple:", my_tuple)
print("Extended Tuple:", extended_tuple)

Original Tuple: (1, 2, 3)
Extended Tuple: (1, 2, 3, 4, 5, 6)

In [16]:
#To reverse elements in the list

my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

In [18]:
#To display the elements of the same tuple multiple times.

myTuple = (1, 2, 3)
repeat = 3

for i in range(repeat):
    print("Elements of the tuple:", myTuple)

Elements of the tuple: (1, 2, 3)
Elements of the tuple: (1, 2, 3)
Elements of the tuple: (1, 2, 3)

In [17]:
#To concatenate two tuples

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [19]:
#To sort the elements in the list in ascending order.

myList = [3, 10, 14, 61, 57]
myList.sort()
print("Sorted list:", myList)

Sorted list: [3, 10, 14, 57, 61]

# 3. Write a python program to implement the following using list.

i) Create a list with integers (minimum 10 numbers)

ii) How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv) Command for displaying the values from the list [2:]

v) Command for displaying the values from the list[:6]

In [20]:
#Create a list with integers (minimum 10 numbers)

myList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
myList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
#How to display the last number in the list

myList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lastNum = myList[-1]
lastNum

10

In [23]:
#Command for displaying the values from the list [0:4]

myList[0:4]

[1, 2, 3, 4]

In [24]:
#Command for displaying the values from the list [2:]

myList[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
#Command for displaying the values from the list[:6]

myList[:6]

[1, 2, 3, 4, 5, 6]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i. To display the elements 10 and 50 from tuple1

ii. To display the length of a tuple1.

iii. To find the minimum element from tuple1.

iv. To add all elements in the tuple1.

v. To display the same tuple1 multiple times.

In [29]:
#To display the elements 10 and 50 from tuple1

tuple1 = (10,50,20,40,30)

for element in tuple1:
    print(element)

10
50
20
40
30

In [32]:
#To display the length of a tuple1.

length = len(tuple1)
length

5

In [33]:
#To find the minimum element from tuple1.

minElement = min(tuple1)
minElement

10

In [47]:
#To add all elements in the tuple1.

totSum=0
for element in tuple1:
    totSum+=element
totSum

150

In [48]:
#To display the same tuple1 multiple times.

repeat = 3

for i in range(repeat):
    print("Elements of the tuple:", tuple1)

Elements of the tuple: (10, 50, 20, 40, 30)
Elements of the tuple: (10, 50, 20, 40, 30)
Elements of the tuple: (10, 50, 20, 40, 30)

# 5. Write a Python program:

i. To calculate the length of a string

ii. To reverse words in a string

iii. To display the same string multiple times

iv. To concatenate two strings

v. Str1=” South India”, using string slicing to display “India”

In [50]:
myString = "Hello, World!"
length = len(myString)
length

13

In [55]:
myString = "Hello, World!"
words = myString.split()
reversedString = ' '.join(reversed(words))
reversedString

'World! Hello,'

In [56]:
repeat = 3
for i in range(repeat):
    print(myString)

Hello, World!
Hello, World!
Hello, World!

In [58]:
string1 = "Hello, "
string2 = "World!"
concatenatedString = string1 + string2
concatenatedString

'Hello, World!'

In [66]:
Str1 = " South India"
Str2 = Str1[7:]
Str2

'India'

# 6. Perform the following:

i) Creating the Dictionary.

ii) Accessing values and keys in the Dictionary.

iii) Updating the dictionary using a function.

iv) Clear and delete the dictionary values.

In [8]:
#i) Creating the Dictionary.

myDict = {'name': 'John', 'age': 30, 'city': 'New York'}
myDict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [15]:
#ii) Accessing values and keys in the Dictionary.

myDictNew = {'name': 'Rajesh', 'age': 30, 'city': 'Pune'}
for key in my_dict:
    print(key, end=' ')
print()  
for value in myDictNew.values():
    print(value, end=' ')

name age city
Rajesh 30 Pune

In [17]:
#iii) Updating the dictionary using a function.

Dict = {'name': 'Ron', 'age': 23, 'city': 'Seattle'}
Dict['new_key'] = 'new_value'
Dict['age'] = 31 

Dict

{'name': 'Ron', 'age': 31, 'city': 'Seattle', 'new_key': 'new_value'}

In [20]:
#iv) Clear and delete the dictionary values.

Dict1 = {'name': 'Harry', 'age': 50, 'city': 'Sussex'}
Dict1.clear()
Dict1

{}

# 7. Python program to insert a number to any position in a list.

In [7]:
myList = [1, 2, 3, 5, 6]
Number = 4
position = 3  # The position where you want to insert the number

my_list.insert(position,number)
print("Updated List:", myList)

Updated List: [1, 2, 3, 5, 6]

# 8. Python program to delete an element from a list by index.

In [6]:
myList = [1, 2, 3, 4, 5]
deletedIndex = 2  

if 0 <= deletedIndex < len(myList):
    del myList[deletedIndex]
    print("Updated List:", myList)
else:
    print("Index is out of range")

Updated List: [1, 2, 4, 5]

# 9. Write a program to display a number from 1 to 100.

In [3]:
for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a Python program to find the sum of all items in a tuple

In [5]:
myTuple = (1, 2, 3, 4, 5)

totalSum = 0  

for item in myTuple:
    totalSum += item

print("Sum of all items in the tuple:", totalSum)

Sum of all items in the tuple: 15