In [2]:
import numpy as np
import pandas as pd

first_series=pd.Series(list('abcdef'))
print(first_series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [21]:
%matplotlib inline
import pandas as pd

titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [19]:
cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [20]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# How many movies are listed in the titles dataframe?

In [9]:
num_movies = titles.shape[0]
print("Number of movies listed in the DataFrame:", num_movies)

Number of movies listed in the DataFrame: 244914

# How many movies have the title "Hamlet"?

In [57]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
num_hamlet_movies = hamlet_movies.shape[0]
print("Number of movies with the title 'Hamlet':", num_hamlet_movies)

Number of movies with the title 'Hamlet': 20

int

# How many movies are titled "North by Northwest"?

In [11]:
north_by_northwest_movies = titles[titles['title'] == 'North by Northwest']
num_north_by_northwest_movies = north_by_northwest_movies.shape[0]
print("Number of movies titled 'North by Northwest':", num_north_by_northwest_movies)

Number of movies titled 'North by Northwest': 1

# When was the first movie titled "Hamlet" made?

In [12]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
first_hamlet_movie = hamlet_movies.sort_values('year').iloc[0]

print("The first movie titled 'Hamlet' was made in the year:", first_hamlet_movie['year'])

The first movie titled 'Hamlet' was made in the year: 1910

# List all of the "Treasure Island" movies from earliest to most recent.

In [27]:
treasure_island_movies = movies[movies['title'] == 'Treasure Island']

treasure_island_movies_sorted = treasure_island_movies.sort_values('movieId')
print(treasure_island_movies_sorted)

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

# How many movies were made in the year 1950?

In [26]:
movies_1950 = titles[titles['year'] == 1950]
num_movies_1950 = len(movies_1950)
print("Number of movies made in the year 1950:", num_movies_1950)

Number of movies made in the year 1950: 1113

# How many movies were made in the year 1960?

In [28]:
movies_1960 = titles[titles['year'] == 1960]
num_movies_1960 = len(movies_1960)
print("Number of movies made in the year 1960:", num_movies_1960)

Number of movies made in the year 1960: 1549

# How many movies were made from 1950 through 1959?

In [29]:
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

num_movies_1950s = len(movies_1950s)
print("Number of movies made from 1950 through 1959:", num_movies_1950s)

Number of movies made from 1950 through 1959: 12934

# In what years has a movie titled "Batman" been released?

In [30]:
batman_movies = titles[titles['title'] == 'Batman']
unique_years = batman_movies['year'].unique()

print("Years in which a movie titled 'Batman' has been released:", unique_years)

Years in which a movie titled 'Batman' has been released: [1943 1989]

# How many roles were there in the movie "Inception"?

In [31]:
inception_roles = cast[cast['title'] == 'Inception']

num_roles_in_inception = len(inception_roles)
print("Number of roles in the movie 'Inception':", num_roles_in_inception)

Number of roles in the movie 'Inception': 78

# How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [32]:
inception_roles = cast[cast['title'] == 'Inception']

num_roles_without_n_value = inception_roles['n'].isna().sum()
print("Number of roles in the movie 'Inception' without an 'n' value:", num_roles_without_n_value)

Number of roles in the movie 'Inception' without an 'n' value: 27

# But how many roles in the movie "Inception" did receive an "n" value?

In [33]:
inception_roles = cast[(cast['title'] == 'Inception') & ~cast['n'].isna()]

num_roles_with_n_value = len(inception_roles)
print("Number of roles in the movie 'Inception' with an 'n' value:", num_roles_with_n_value)

Number of roles in the movie 'Inception' with an 'n' value: 51

# Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [34]:
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & cast['n'].notna()]

north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values('n')
print(north_by_northwest_cast_sorted[['name', 'n']])

                         name     n
871426             Cary Grant   1.0
3518333       Eva Marie Saint   2.0
1457165           James Mason   3.0
3157232   Jessie Royce Landis   4.0
356707         Leo G. Carroll   5.0
3048272  Josephine Hutchinson   6.0
1695173           Philip Ober   7.0
1275337         Martin Landau   8.0
2447081         Adam Williams   9.0
1811387          Edward Platt  10.0
665768      Robert Ellenstein  11.0
2295714          Les Tremayne  12.0
464736        Philip Coolidge  13.0
1508344         Patrick McVey  14.0
206471           Edward Binns  15.0
1384780             Ken Lynch  16.0

# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [35]:
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)]

sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values('n')
print(sleuth_1972_cast_sorted[['name', 'n']])

                       name    n
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [36]:
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)]

sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values('n')
print(sleuth_2007_cast_sorted[['name', 'n']])

                        name    n
326774         Michael Caine  1.0
1293634             Jude Law  2.0
1805907        Harold Pinter  3.0
260242       Kenneth Branagh  NaN
373877   Alec (II) Cawthorne  NaN
2724552    Eve (II) Channing  NaN
3370424    Carmel O'Sullivan  NaN

# How many "Hamlet" roles have been listed in all film credits through history?

In [37]:
hamlet_roles = cast[cast['title'] == 'Hamlet']

num_hamlet_roles = len(hamlet_roles)
print("Number of 'Hamlet' roles listed in all film credits through history:", num_hamlet_roles)

Number of 'Hamlet' roles listed in all film credits through history: 342

# How many roles were credited in the silent 1921 version of Hamlet?

In [38]:
hamlet_1921_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]

num_roles_in_hamlet_1921 = len(hamlet_1921_roles)
print("Number of credited roles in the silent 1921 version of 'Hamlet':", num_roles_in_hamlet_1921)

Number of credited roles in the silent 1921 version of 'Hamlet': 9

# How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [41]:
branagh_hamlet_1996_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996) & (cast['name'] == 'Kenneth Branagh')]

num_roles_in_branagh_hamlet_1996 = len(branagh_hamlet_1996_roles)
print("Number of credited roles in Kenneth Branagh's 1996 version of 'Hamlet':", num_roles_in_branagh_hamlet_1996)

Number of credited roles in Kenneth Branagh's 1996 version of 'Hamlet': 1

# How many people have played an "Ophelia"?

In [42]:
ophelia_roles = cast[cast['character'] == 'Ophelia']

num_ophelia_actors = len(ophelia_roles['name'].unique())
print("Number of people who have played the role of 'Ophelia':", num_ophelia_actors)

Number of people who have played the role of 'Ophelia': 115

# How many people have played a role called "The Dude"?

In [43]:
the_dude_roles = cast[cast['character'] == 'The Dude']

num_the_dude_actors = len(the_dude_roles['name'].unique())
print("Number of people who have played a role called 'The Dude':", num_the_dude_actors)

Number of people who have played a role called 'The Dude': 19

# How many people have played a role called "The Stranger"?

In [44]:
the_stranger_roles = cast[cast['character'] == 'The Stranger']

num_the_stranger_actors = len(the_stranger_roles['name'].unique())
print("Number of people who have played a role called 'The Stranger':", num_the_stranger_actors)

Number of people who have played a role called 'The Stranger': 202

# How many roles has Sidney Poitier played throughout his career?

In [45]:
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']

num_sidney_poitier_roles = len(sidney_poitier_roles)
print("Number of roles played by Sidney Poitier throughout his career:", num_sidney_poitier_roles)

Number of roles played by Sidney Poitier throughout his career: 43

# How many roles has Judi Dench played?

In [46]:
judi_dench_roles = cast[cast['name'] == 'Judi Dench']

num_judi_dench_roles = len(judi_dench_roles)
print("Number of roles played by Judi Dench throughout her career:", num_judi_dench_roles)

Number of roles played by Judi Dench throughout her career: 55

# List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [47]:
cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]

cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values('year')
print(cary_grant_supporting_roles_1940s_sorted[['title', 'year']])

                   title  year
871423  My Favorite Wife  1940
871433    Penny Serenade  1941

# List the leading roles that Cary Grant played in the 1940s in order by year.

In [48]:
cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]

cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values('year')
print(cary_grant_leading_roles_1940s_sorted[['title', 'year']])

                                       title  year
871448               The Howards of Virginia  1940
871407                       His Girl Friday  1940
871450                The Philadelphia Story  1940
871438                             Suspicion  1941
871452                  The Talk of the Town  1942
871429                 Once Upon a Honeymoon  1942
871398                     Destination Tokyo  1943
871422                             Mr. Lucky  1943
871430                      Once Upon a Time  1944
871390                  Arsenic and Old Lace  1944
871425             None But the Lonely Heart  1944
871424                         Night and Day  1946
871427                             Notorious  1946
871444      The Bachelor and the Bobby-Soxer  1947
871445                     The Bishop's Wife  1947
871421  Mr. Blandings Builds His Dream House  1948
871402          Every Girl Should Be Married  1948
871411                I Was a Male War Bride  1949

# How many roles were available for actors in the 1950s?

In [49]:
roles_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]

num_roles_in_1950s = len(roles_1950s)
print("Number of roles available for actors in the 1950s:", num_roles_in_1950s)

Number of roles available for actors in the 1950s: 215471

# How many roles were available for actresses in the 1950s?

In [50]:
actress_roles_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actress')]

num_actress_roles_in_1950s = len(actress_roles_1950s)
print("Number of roles available for actresses in the 1950s:", num_actress_roles_in_1950s)

Number of roles available for actresses in the 1950s: 57733

# How many leading roles (n=1) were available from the beginning of film history through 1980?

In [51]:
leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)]

num_leading_roles_until_1980 = len(leading_roles_until_1980)
print("Number of leading roles (n=1) available from the beginning of film history through 1980:", num_leading_roles_until_1980)

Number of leading roles (n=1) available from the beginning of film history through 1980: 65140

# How many non-leading roles were available through from the beginning of film history through 1980?

In [52]:
non_leading_roles_until_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]

num_non_leading_roles_until_1980 = len(non_leading_roles_until_1980)
print("Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980:", num_non_leading_roles_until_1980)

Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980: 1117667

# How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [53]:
minor_roles_without_n_until_1980 = cast[(cast['year'] <= 1980) & cast['n'].isna()]

num_minor_roles_without_n_until_1980 = len(minor_roles_without_n_until_1980)
print("Number of roles through 1980 that were minor and did not have a numeric 'n' rank:", num_minor_roles_without_n_until_1980)

Number of roles through 1980 that were minor and did not have a numeric 'n' rank: 448347