# 1. Manipulate using a list.

i) To add new elements to the end of the list

ii) To reverse elements in the list

iii) To display the same list of elements multiple times.

iv) To concatenate two list

v) To sort the elements in the list in ascending order.

In [11]:
#To add new elements to the end of the list

myList = [1, 2, 3]
myList.append(4)
print("Added elements in {}".format(myList))

Added elements in [1, 2, 3, 4]

In [7]:
#To reverse elements in the list

myList = [1,2,3,4,5,6]
myList.reverse()
print("Reversed list is : ", myList)

Reversed list is :  [6, 5, 4, 3, 2, 1]

In [10]:
#Todisplay the same list of elements multiple times

myList = [1,2,3]
repeat = 3

newList = myList * repeat
print(newList)

for i in range(repeat):
    print(myList)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [13]:
#To concatenate two list

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print("Added list: ", list1)

Added list:  [1, 2, 3, 4, 5, 6]

In [14]:
#To sort the elements in the list in ascending order.

my_list = [390, 100, 4, 1, 5, 92, 26, 69, 51, 3, 90]
my_list.sort()
print("Sorted list:", my_list)

Sorted list: [1, 3, 4, 5, 26, 51, 69, 90, 92, 100, 390]

# 2. Write a Python program to do in the tuples.

i) Manipulate using tuples.

ii) To add new elements to the end of the tuples

iii) To reverse elements in the list

iv) To display the elements of the same tuple multiple times.

v) To concatenate two tuples

vi) To sort the elements in the list in ascending order.

In [ ]:
#i) Manipulate using tuples.

#Tuples are similar to lists in Python but are immutable, meaning we cannot modify their elements once they are created.

In [15]:
#ii) To add new elements to the end of the tuples

my_tuple = (1, 2, 3)
new_elements = (4, 5, 6)
extended_tuple = my_tuple + new_elements

print("Original Tuple:", my_tuple)
print("Extended Tuple:", extended_tuple)

Original Tuple: (1, 2, 3)
Extended Tuple: (1, 2, 3, 4, 5, 6)

In [16]:
#To reverse elements in the list

my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

In [18]:
#To display the elements of the same tuple multiple times.

myTuple = (1, 2, 3)
repeat = 3

for i in range(repeat):
    print("Elements of the tuple:", myTuple)

Elements of the tuple: (1, 2, 3)
Elements of the tuple: (1, 2, 3)
Elements of the tuple: (1, 2, 3)

In [17]:
#To concatenate two tuples

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [19]:
#To sort the elements in the list in ascending order.

myList = [3, 10, 14, 61, 57]
myList.sort()
print("Sorted list:", myList)

Sorted list: [3, 10, 14, 57, 61]

# 3. Write a python program to implement the following using list.

i) Create a list with integers (minimum 10 numbers)

ii) How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv) Command for displaying the values from the list [2:]

v) Command for displaying the values from the list[:6]

In [20]:
#Create a list with integers (minimum 10 numbers)

myList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
myList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
#How to display the last number in the list

myList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lastNum = myList[-1]
lastNum

10

In [23]:
#Command for displaying the values from the list [0:4]

myList[0:4]

[1, 2, 3, 4]

In [24]:
#Command for displaying the values from the list [2:]

myList[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
#Command for displaying the values from the list[:6]

myList[:6]

[1, 2, 3, 4, 5, 6]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i. To display the elements 10 and 50 from tuple1

ii. To display the length of a tuple1.

iii. To find the minimum element from tuple1.

iv. To add all elements in the tuple1.

v. To display the same tuple1 multiple times.

In [29]:
#To display the elements 10 and 50 from tuple1

tuple1 = (10,50,20,40,30)

for element in tuple1:
    print(element)

10
50
20
40
30

In [32]:
#To display the length of a tuple1.

length = len(tuple1)
length

5

In [33]:
#To find the minimum element from tuple1.

minElement = min(tuple1)
minElement

10

In [47]:
#To add all elements in the tuple1.

totSum=0
for element in tuple1:
    totSum+=element
totSum

150

In [48]:
#To display the same tuple1 multiple times.

repeat = 3

for i in range(repeat):
    print("Elements of the tuple:", tuple1)

Elements of the tuple: (10, 50, 20, 40, 30)
Elements of the tuple: (10, 50, 20, 40, 30)
Elements of the tuple: (10, 50, 20, 40, 30)

# 5. Write a Python program:

i. To calculate the length of a string

ii. To reverse words in a string

iii. To display the same string multiple times

iv. To concatenate two strings

v. Str1=” South India”, using string slicing to display “India”

In [50]:
myString = "Hello, World!"
length = len(myString)
length

13

In [55]:
myString = "Hello, World!"
words = myString.split()
reversedString = ' '.join(reversed(words))
reversedString

'World! Hello,'

In [56]:
repeat = 3
for i in range(repeat):
    print(myString)

Hello, World!
Hello, World!
Hello, World!

In [58]:
string1 = "Hello, "
string2 = "World!"
concatenatedString = string1 + string2
concatenatedString

'Hello, World!'

In [66]:
Str1 = " South India"
Str2 = Str1[7:]
Str2

'India'

# 6. Perform the following:

i) Creating the Dictionary.

ii) Accessing values and keys in the Dictionary.

iii) Updating the dictionary using a function.

iv) Clear and delete the dictionary values.

In [8]:
#i) Creating the Dictionary.

myDict = {'name': 'John', 'age': 30, 'city': 'New York'}
myDict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [15]:
#ii) Accessing values and keys in the Dictionary.

myDictNew = {'name': 'Rajesh', 'age': 30, 'city': 'Pune'}
for key in my_dict:
    print(key, end=' ')
print()  
for value in myDictNew.values():
    print(value, end=' ')

name age city
Rajesh 30 Pune

In [17]:
#iii) Updating the dictionary using a function.

Dict = {'name': 'Ron', 'age': 23, 'city': 'Seattle'}
Dict['new_key'] = 'new_value'
Dict['age'] = 31 

Dict

{'name': 'Ron', 'age': 31, 'city': 'Seattle', 'new_key': 'new_value'}

In [20]:
#iv) Clear and delete the dictionary values.

Dict1 = {'name': 'Harry', 'age': 50, 'city': 'Sussex'}
Dict1.clear()
Dict1

{}

# 7. Python program to insert a number to any position in a list.

In [7]:
myList = [1, 2, 3, 5, 6]
Number = 4
position = 3  # The position where you want to insert the number

my_list.insert(position,number)
print("Updated List:", myList)

Updated List: [1, 2, 3, 5, 6]

# 8. Python program to delete an element from a list by index.

In [6]:
myList = [1, 2, 3, 4, 5]
deletedIndex = 2  

if 0 <= deletedIndex < len(myList):
    del myList[deletedIndex]
    print("Updated List:", myList)
else:
    print("Index is out of range")

Updated List: [1, 2, 4, 5]

# 9. Write a program to display a number from 1 to 100.

In [3]:
for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a Python program to find the sum of all items in a tuple

In [5]:
myTuple = (1, 2, 3, 4, 5)

totalSum = 0  

for item in myTuple:
    totalSum += item

print("Sum of all items in the tuple:", totalSum)

Sum of all items in the tuple: 15

# 11. Create a dictionary containing three lambda functions square, cube and square root.
i) E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot':
function for square root}
ii) Pass the values (input from the user) to the functions in the dictionary respectively.
iii) Then add the outputs of each function and print it.

In [22]:
functions_dict = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Square Root': lambda x: x ** 0.5
}

value = float(input("Enter a number: "))
total = 0
for function_name, function in functions_dict.items():
    result = function(value)
    total += result
    print(f'{function_name} of {value} is {result}')

print(f'Sum of all function outputs: {total}')

Enter a number: 3
Square of 3.0 is 9.0
Cube of 3.0 is 27.0
Square Root of 3.0 is 1.7320508075688772
Sum of all function outputs: 37.732050807568875

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

In [24]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
result_words = []

for word in ls:
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)
        
print("Words with the second character in uppercase:")
for word in result_words:
    print(word)

Words with the second character in uppercase:
hOw
ARe

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula : wMoon = (wEarth * GMoon) / GEarth

i) # Weight of people in kg
• WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
ii) # Gravitational force on the Moon: 1.622 m/s2
• GMoon = 1.622
iii) # Gravitational force on the Earth: 9.81 m/s2
• GEarth = 9.81

In [25]:
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

GMoon = 1.622
GEarth = 9.81

WeightOnMoon = list(map(lambda x: (x[1] * GMoon) / GEarth, WeightOnEarth.items()))
WeightOnMoonDict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))

print("Weights on the moon:")
for name, weight in WeightOnMoonDict.items():
    print(f"{name}: {weight:.2f} kg")

Weights on the moon:
John: 7.44 kg
Shelly: 10.75 kg
Marry: 5.79 kg

# Control Structutes

# 1. Write a python program to find the first N Prime numbers.

In [1]:
def isPrime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def findNPrimes(n):
    prime_list = []
    num = 2
    while len(prime_list) < n:
        if isPrime(num):
            prime_list.append(num)
        num += 1
    return prime_list


n = int(input("Enter the value of 'n' for finding prime numbers: "))
if n <= 0:
    print("Please enter a positive integer for 'n'.")
else:
    prime_list = findNPrimes(n)
    print(f"The first {n} prime numbers are: {prime_list}")

Enter the value of 'n' for finding prime numbers: 6
The first 6 prime numbers are: [2, 3, 5, 7, 11, 13]

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. 
Also, deduct
10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [2]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA (Travel Allowance): "))
da = float(input("Enter DA (Dearness Allowance): "))

gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax

print("Basic Salary: {:.2f}".format(basic_salary))
print("HRA: {:.2f}".format(hra))
print("TA: {:.2f}".format(ta))
print("DA: {:.2f}".format(da))
print("Gross Salary: {:.2f}".format(gross_salary))
print("Tax: {:.2f}".format(tax))
print("Net Salary: {:.2f}".format(net_salary))

Enter Basic Salary: 10000
Enter HRA: 1000
Enter TA (Travel Allowance): 4000
Enter DA (Dearness Allowance): 3000
Basic Salary: 10000.00
HRA: 1000.00
TA: 4000.00
DA: 3000.00
Gross Salary: 18000.00
Tax: 1800.00
Net Salary: 16200.00

# 3. Write a python program to search for a string in the given list.

In [6]:
myList = ["apple", "banana", "mango", "cherry", "jackfruit"]
searchString = input("Enter the string to search for: ")

found = False
for item in myList:
    if item == searchString:
        found = True
        break
if found:
    print("'{}' was found in the list.".format(searchString))
else:
    print("'{}' was not found in the list.".format(searchString))

Enter the string to search for: cherry
'cherry' was found in the list.

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [7]:
def count_upper_lower(string):
    upper_count = 0
    lower_count = 0
    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return upper_count, lower_count


input_string = input("Enter a string: ")
upper_count, lower_count = count_upper_lower(input_string)

print(f"Number of upper-case letters: {upper_count}")
print(f"Number of lower-case letters: {lower_count}")

Enter a string: There Will Be Blood
Number of upper-case letters: 4
Number of lower-case letters: 12

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [8]:
sum_odd = 0
sum_even = 0

for number in range(12, 38):
    if number % 2 != 0:
        sum_odd += number
    else:
        sum_even += number

print(f"Sum of odd numbers between 12 and 37: {sum_odd}")
print(f"Sum of even numbers between 12 and 37: {sum_even}")

Sum of odd numbers between 12 and 37: 325
Sum of even numbers between 12 and 37: 312

# 6. Write a python Program to print the table of any number.

In [10]:
num = int(input("Enter a number: "))
start = 1
end = 10
print(f"Table of {num}:")
for i in range(start, end + 1):
    product = num * i
    print(f"{num} x {i} = {product}")

Enter a number: 7
Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

# 7. Write a Python program to sum the first 10 prime numbers.

In [ ]:
# def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return sum(primes)

# Calculate the sum of the first 10 prime numbers
sum_of_primes = sum_first_n_primes(10)

# Display the result
print(f"The sum of the first 10 prime numbers is: {sum_of_primes}")

# 8. Write a python program to implement arithmetic operations using nested ifstatement.

In [1]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the arithmetic operation (+, -, *, /): ")


result = None  

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0: 
        result = num1 / num2
    else:
        print("Error: Division by zero is not allowed.")
else:
    print("Invalid operation entered.")


if result is not None:
    print(f"Result: {result}")

Enter the first number: 34
Enter the second number: 24
Enter the arithmetic operation (+, -, *, /): +
Result: 58.0

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [2]:

celsius = float(input("Enter temperature in Celsius: "))


fahrenheit = (celsius * 9/5) + 32


print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

Enter temperature in Celsius: 37
37.0 degrees Celsius is equal to 98.6 degrees Fahrenheit.

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [4]:
# Function to find the maximum and minimum numbers in a list
def find_max_min(numbers):
    if not numbers:
        return None, None 

    max_num = numbers[0] 
    min_num = numbers[0]  

    for num in numbers:
        if num > max_num:
            max_num = num
        elif num < min_num:
            min_num = num

    return max_num, min_num

num_list = []

n = int(input("Enter the number of elements in the list: "))

for i in range(n):
    num = float(input(f"Enter element {i+1}: "))
    num_list.append(num)


max_value, min_value = find_max_min(num_list)


if max_value is not None and min_value is not None:
    print(f"Maximum number in the list: {max_value}")
    print(f"Minimum number in the list: {min_value}")
else:
    print("The list is empty.")

Enter the number of elements in the list: 5
Enter element 1: 67
Enter element 2: 89
Enter element 3: 10
Enter element 4: 24
Enter element 5: 100
Maximum number in the list: 100.0
Minimum number in the list: 10.0

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in aminute.

In [5]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

total_seconds = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute
print(f"There are {total_seconds} seconds in a 30-day month.")

There are 2592000 seconds in a 30-day month.

# 12. Write a program in python to print out the number of seconds in a year.

In [6]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

total_seconds_non_leap = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute
total_seconds_leap = (days_in_year + 1) * hours_in_day * minutes_in_hour * seconds_in_minute

print(f"There are {total_seconds_non_leap} seconds in a non-leap year.")
print(f"There are {total_seconds_leap} seconds in a leap year.")

There are 31536000 seconds in a non-leap year.
There are 31622400 seconds in a leap year.

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [7]:
average_speed_mph = 150  
distance_miles = 414   
time_hours = distance_miles / average_speed_mph
print(f"It will take {time_hours} hours for the train to travel from London to Glasgow.")

It will take 2.76 hours for the train to travel from London to Glasgow.

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 19

In [8]:
# Define the number of school days in each school year
days_in_each_school_year = 192
num_school_years = 5  
hours_per_day = 6
total_hours_in_school = days_in_each_school_year * num_school_years * hours_per_day
print(f"Total hours spent in school from Year 7 to Year 11: {total_hours_in_school} hours")

Total hours spent in school from Year 7 to Year 11: 5760 hours

# 15. If the age of Ram,Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three.

In [9]:
# Input ages of Ram, Sam, and Khan
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

eldest = "Ram"
youngest = "Ram"

if sam_age > ram_age:
    eldest = "Sam"
    youngest = "Ram"
elif sam_age < ram_age:
    eldest = "Ram"
    youngest = "Sam"

if khan_age > sam_age:
    eldest = "Khan"
    youngest = "Sam"
elif khan_age < sam_age:
    eldest = "Sam"
    youngest = "Khan"

print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

Enter Ram's age: 34
Enter Sam's age: 44
Enter Khan's age: 29
The eldest among Ram, Sam, and Khan is Sam.
The youngest among Ram, Sam, and Khan is Khan.

# 16. Write a python program to rotate a list by right n times with and without slicing technique.

In [21]:
# Rotate a list to the right n times without slicing
def rotate_right_without_slicing(lst, n):
    n = n % len(lst) 
    for _ in range(n):
        last_element = lst.pop()
        lst.insert(0, last_element)
        
original_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate: "))
rotated_list_without_slicing = original_list.copy()
rotate_right_without_slicing(rotated_list_without_slicing, n)
print(f"Rotated list without slicing: {rotated_list_without_slicing}")

Enter the number of times to rotate: 2
Rotated list without slicing: [4, 5, 1, 2, 3]

# 17. Python program to print the patterns given below:

In [15]:
#Pattern 1
def generate_pascals_triangle(rows):
    triangle = []
    for i in range(rows):
        row = []
        for j in range(i + 1):
            if j == 0 or j == i:
                row.append(1)
            else:
                # Calculate the value based on the previous row
                value = triangle[i - 1][j - 1] + triangle[i - 1][j]
                row.append(value)
        triangle.append(row)
    return triangle

def print_pascals_triangle(triangle):
    for row in triangle:
        for num in row:
            print(num, end=" ")
        print()

num_rows = int(input("Enter the number of rows for Pascal's Triangle: "))
if num_rows <= 0:
    print("Please enter a positive integer.")
else:
    pascals_triangle = generate_pascals_triangle(num_rows)
    print("Pascal's Triangle:")
    print_pascals_triangle(pascals_triangle)

Enter the number of rows for Pascal's Triangle: 5
Pascal's Triangle:
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [16]:
#Pattern 2
num_rows = int(input("Enter the number of rows for the pattern: "))
for i in range(1, num_rows + 1):
    # Print '*' i times in the current row
    print('* ' * i)

Enter the number of rows for the pattern: 5
*
* *
* * *
* * * *
* * * * *

In [19]:
#Pattern 3
num_rows = int(input("Enter the number of rows for the pattern: "))
for i in range(1, num_rows + 1):
    # Print leading spaces
    print(" " * (num_rows - i), end="")
    print('* ' * i)

Enter the number of rows for the pattern: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [18]:
#Pattern4
word = "Python"
for i in range(1, len(word) + 1):
    print(word[:i])

P
Py
Pyt
Pyth
Pytho
Python