In [1]:
import mysql.connector

conn=mysql.connector.connect(user='root',

password='Pritam@123',

host='127.0.0.1',

database='books'

)

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000197268BFA90>

In [4]:
curs=conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

('books',)
('information_schema',)
('mysql',)
('new_company',)
('pastries',)
('performance_schema',)
('procedure',)
('sakila',)
('shirts_db',)
('sys',)
('world',)

In [5]:
curs.execute("show tables")
for i in curs:
    print(i)

('books',)

In [6]:
curs.execute("desc books")
for i in curs:
    print(i)

('book_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('title', b'varchar(100)', 'YES', '', None, '')
('author_fname', b'varchar(100)', 'YES', '', None, '')
('author_lname', b'varchar(100)', 'YES', '', None, '')
('released_year', b'int', 'YES', '', None, '')
('stock_quantity', b'int', 'YES', '', None, '')
('pages', b'int', 'YES', '', None, '')

In [8]:
curs.execute("select * from books")
for i in curs:
    print(i)
type(curs)

(1, 'The Namesake', 'Jhumpa', 'Lahiri', 2003, 32, 291)
(2, 'Norse Mythology', 'Neil', 'Gaiman', 2016, 43, 304)
(3, 'American Gods', 'Neil', 'Gaiman', 2001, 12, 465)
(4, 'Interpreter of Maladies', 'Jhumpa', 'Lahiri', 1996, 97, 198)
(5, 'A Hologram for the King: A Novel', 'Dave', 'Eggers', 2012, 154, 352)
(6, 'The Circle', 'Dave', 'Eggers', 2013, 26, 504)
(7, 'The Amazing Adventures of Kavalier & Clay', 'Michael', 'Chabon', 2000, 68, 634)
(8, 'Just Kids', 'Patti', 'Smith', 2010, 55, 304)
(9, 'A Heartbreaking Work of Staggering Genius', 'Dave', 'Eggers', 2001, 104, 437)
(10, 'Coraline', 'Neil', 'Gaiman', 2003, 100, 208)
(11, 'What We Talk About When We Talk About Love: Stories', 'Raymond', 'Carver', 1981, 23, 176)
(12, "Where I'm Calling From: Selected Stories", 'Raymond', 'Carver', 1989, 12, 526)
(13, 'White Noise', 'Don', 'DeLillo', 1985, 49, 320)
(14, 'Cannery Row', 'John', 'Steinbeck', 1945, 95, 181)
(15, 'Oblivion: Stories', 'David', 'Foster Wallace', 2004, 172, 329)
(16, 'Consider the Lobster', 'David', 'Foster Wallace', 2005, 92, 343)

mysql.connector.cursor_cext.CMySQLCursor

In [9]:
conn=mysql.connector.connect(user='root',

password='Pritam@123',

host='127.0.0.1',

database='new_company'

)

In [12]:
curs=conn.cursor()
curs.execute("show tables")
for i in curs:
    print(i)

('departments',)
('employee_department_details',)
('employees',)
('jobs',)
('locations',)

In [19]:
curs.execute("select * from employees")
for i in curs:
    print(i)

(Decimal('100'), 'Steven', 'King', 'SKING', '515.123.4567', datetime.date(1987, 6, 17), 'AD_PRES', Decimal('24000.00'), Decimal('0.00'), Decimal('0'), Decimal('90'))
(Decimal('101'), 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', datetime.date(1987, 6, 18), 'AD_VP', Decimal('17000.00'), Decimal('0.00'), Decimal('100'), Decimal('90'))
(Decimal('102'), 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', datetime.date(1987, 6, 19), 'AD_VP', Decimal('17000.00'), Decimal('0.00'), Decimal('100'), Decimal('90'))
(Decimal('103'), 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', datetime.date(1987, 6, 20), 'IT_PROG', Decimal('9000.00'), Decimal('0.00'), Decimal('102'), Decimal('60'))
(Decimal('104'), 'Bruce', 'Ernst', 'BERNST', '590.423.4568', datetime.date(1987, 6, 21), 'IT_PROG', Decimal('6000.00'), Decimal('0.00'), Decimal('103'), Decimal('60'))
(Decimal('105'), 'David', 'Austin', 'DAUSTIN', '590.423.4569', datetime.date(1987, 6, 22), 'IT_PROG', Decimal('4800.00'), Decimal('0.00'), Decimal('103'), Decimal('60'))
(Decimal('106'), 'Charles', 'Johnson', 'CJOHNSON', '011.44.1644.429262', datetime.date(1987, 9, 4), 'SA_REP', Decimal('6200.00'), Decimal('0.10'), Decimal('149'), Decimal('80'))
(Decimal('107'), 'Winston', 'Taylor', 'WTAYLOR', '650.507.9876', datetime.date(1987, 9, 5), 'SH_CLERK', Decimal('3200.00'), Decimal('0.00'), Decimal('120'), Decimal('50'))
(Decimal('108'), 'Jean', 'Fleaur', 'JFLEAUR', '650.507.9877', datetime.date(1987, 9, 6), 'SH_CLERK', Decimal('3100.00'), Decimal('0.00'), Decimal('120'), Decimal('50'))
(Decimal('109'), 'Martha', 'Sullivan', 'MSULLIVA', '650.507.9878', datetime.date(1987, 9, 7), 'SH_CLERK', Decimal('2500.00'), Decimal('0.00'), Decimal('120'), Decimal('50'))
(Decimal('110'), 'Girard', 'Geoni', 'GGEONI', '650.507.9879', datetime.date(1987, 9, 8), 'SH_CLERK', Decimal('2800.00'), Decimal('0.00'), Decimal('120'), Decimal('50'))
(Decimal('111'), 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', datetime.date(1987, 9, 25), 'AD_ASST', Decimal('4400.00'), Decimal('0.00'), Decimal('101'), Decimal('10'))
(Decimal('112'), 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555', datetime.date(1987, 9, 26), 'MK_MAN', Decimal('13000.00'), Decimal('0.00'), Decimal('100'), Decimal('20'))
(Decimal('113'), 'Hermann', 'Baer', 'HBAER', '515.123.8888', datetime.date(1987, 9, 29), 'PR_REP', Decimal('10000.00'), Decimal('0.00'), Decimal('101'), Decimal('70'))
(Decimal('114'), 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', datetime.date(1987, 9, 30), 'AC_MGR', Decimal('12000.00'), Decimal('0.00'), Decimal('101'), Decimal('110'))
(Decimal('115'), 'William', 'Gietz', 'WGIETZ', '515.123.8181', datetime.date(1987, 10, 1), 'AC_ACCOUNT', Decimal('8300.00'), Decimal('0.00'), Decimal('205'), Decimal('110'))

# 4. You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.

1. Design the database schema for the employee management system.

2. Write Python code to connect to the database and retrieve a list of employees in a specific department.

3. Implement a feature to update an employee's salary.

In [33]:
import mysql.connector

try:
    # Database connection parameters
    db_config = {
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "password": "Pritam@123",
        "database": "new_company",
    }

    # Connect to the MySQL database
    connection = mysql.connector.connect(**db_config)

    # Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Specify the department you want to retrieve employees from (e.g., "HR")
    department_name = "IT"

    # Query to retrieve employees in a specific department
    select_query = (
        "SELECT e.first_name, e.last_name, e.salary, e.hire_date "
        "FROM employees e "
        "INNER JOIN departments d ON e.department_id = d.department_id "
        "WHERE d.department_name = %s"
    )

    cursor.execute(select_query, (department_name,))

    # Fetch all records
    employees = cursor.fetchall()

    # Print the list of employees in the specified department
    for employee in employees:
        first_name, last_name, salary, hire_date = employee
        print(f"Name: {first_name} {last_name}, Salary: {salary}, Hire Date: {hire_date}")

    # Update an employee's salary
    employee_id_to_update = 100
    new_salary = 25000

    update_query = "UPDATE employees SET salary = %s WHERE employee_id = %s"
    cursor.execute(update_query, (new_salary, employee_id_to_update))
    connection.commit()

    print("Employee's salary updated successfully.")

    # Close the cursor and database connection
    cursor.close()
    connection.close()

except mysql.connector.Error as err:
    # Handle MySQL errors
    print(f"MySQL Error: {err}")

except Exception as e:
    # Handle other exceptions
    print(f"An error occurred: {e}")

Name: Alexander Hunold, Salary: 9000.00, Hire Date: 1987-06-20
Name: Bruce Ernst, Salary: 6000.00, Hire Date: 1987-06-21
Name: David Austin, Salary: 4800.00, Hire Date: 1987-06-22
Employee's salary updated successfully.

# 3. You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task. Instructions:

1. Assume that you have a MySQL database server running with the following details:

i. Host: localhost

ii. Port: 3306

iii. Username: your_username

iv. Password: your_password

v. Database Name: your_database

vi. Table Name: your_table

vii. The table has the following columns: id (int), name (varchar),

quantity (int).

2. Your Python program should:

i. Connect to the MySQL database.

ii. Retrieve all records from the your_table table.

iii. Calculate the total quantity of all records retrieved.

iv. Update the quantity column of each record by doubling its value.

v. Commit the changes to the database.

vi. Close the database connection.

3. Handle any potential errors that may occur during the database connection and

data manipulation, such as connection failures or SQL errors.

4. Provide comments in your code to explain each step.

In [35]:
import mysql.connector

try:
    # Database connection parameters
    db_config = {
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "password": "Pritam@123",
        "database": "new_company",
    }

    # Step 1: Connect to the MySQL database
    connection = mysql.connector.connect(**db_config)

    # Step 2: Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Step 3: Retrieve all records from the your_table table
    select_query = "SELECT * FROM employees"
    cursor.execute(select_query)

    # Fetch all records
    records = cursor.fetchall()

    # Step 4: Calculate the total quantity of records received
    total_records = len(records)

    # Step 5: Output the total quantity of records received
    print(f"Total records received: {total_records}")

    # Step 6: Update the salary column by doubling its value
    update_query = "UPDATE employees SET salary = salary * 2"
    cursor.execute(update_query)

    # Step 7: Commit the changes to the database
    connection.commit()

    # Step 8: Close the cursor and database connection
    cursor.close()
    connection.close()

    # Output a message indicating the update is complete
    print("Salaries doubled successfully.")

except mysql.connector.Error as err:
    # Handle MySQL errors
    print(f"MySQL Error: {err}")

except Exception as e:
    # Handle other exceptions
    print(f"An error occurred: {e}")

Total records received: 16
Salaries doubled successfully.

# 1. Implement Inventory Management in Python with MySQL

a) Inventory management, a critical element of the supply chain, is the tracking of

inventory from manufacturers to warehouses and from these facilities to a point of

sale. The goal of inventory management is to have the right products in the right

place at the right time.

b) The required Database is Inventory, and the required Tables are Purchases, Sales and

Inventory

c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [39]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Pritam@123",
    database="Inventory"
)

cursor = db.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS Inventory")
cursor.execute("USE Inventory")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS Purchases (
        id INT AUTO_INCREMENT PRIMARY KEY,
        product_name VARCHAR(255),
        purchase_date DATE,
        quantity INT,
        unit_price DECIMAL(10, 2)
    )
""")
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Sales (
        id INT AUTO_INCREMENT PRIMARY KEY,
        product_name VARCHAR(255),
        sale_date DATE,
        quantity INT,
        unit_price DECIMAL(10, 2)
    )
""")
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Inventory (
        id INT AUTO_INCREMENT PRIMARY KEY,
        product_name VARCHAR(255),
        quantity INT
    )
""")
db.commit()

cursor.execute("""
    INSERT INTO Purchases (product_name, purchase_date, quantity, unit_price)
    VALUES (%s, %s, %s, %s)
""", ("Product A", "2023-09-15", 100, 10.99))
db.commit()

cursor.execute("""
    INSERT INTO Sales (product_name, sale_date, quantity, unit_price)
    VALUES (%s, %s, %s, %s)
""", ("Product A", "2023-09-16", 50, 12.99))
db.commit()

cursor.execute("""
    INSERT INTO Inventory (product_name, quantity)
    VALUES (%s, %s)
    ON DUPLICATE KEY UPDATE quantity = quantity + VALUES(quantity)
""", ("Product A", 100))
db.commit()

cursor.execute("""
    INSERT INTO Inventory (product_name, quantity)
    VALUES (%s, %s)
    ON DUPLICATE KEY UPDATE quantity = quantity - VALUES(quantity)
""", ("Product A", 50))
db.commit()

cursor.close()
db.close()

# Module Import and Management

Scenario: You are developing a complex Python project with multiple modules. To manage the

project effectively, you need to import and use various modules. Additionally, you want to

organize your code using namespaces and avoid naming conflicts.

Design a Python program that demonstrates the following:

1. Import multiple modules within your project.

2. Use the import statement to access functions, classes, and variables from imported

modules.

3. Create your custom module and use it in your main program.

4. Handle naming conflicts and ensure proper namespacing.

5. Implement error handling for missing modules or incorrect module usage.

In [ ]:
#main.py

try:
    # Import standard library modules
    import math
    import random

    # Import a custom module
    import mymodule

    # Access functions, classes, and variables from imported modules
    print("Using math module:", math.sqrt(25))
    print("Using random module:", random.randint(1, 100))

    # Access functions and variables from the custom module using namespace
    print("Using custom module function:", mymodule.my_function())
    print("Using custom module variable:", mymodule.custom_variable)

    # Handling naming conflicts and ensuring proper namespacing
    custom_variable = "Variable in main.py"
    print("Custom variable in main.py:", custom_variable)
    print("Custom variable from mymodule:", mymodule.custom_variable)

except ImportError as e:
    print(f"Error importing module: {e}")

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    print("Program execution completed.")

In [ ]:
#my_module.py

def my_function():
    return "This is my custom function."

custom_variable = "Custom variable from mymodule"